.box {
      position: absolute;
      width: 400px;
      height: 400px;
}
.box-2 {
      position: absolute;
      width: 400px;
      height: 400px;
}
.page-set {
      position: absolute;
      top: 400px;
      left: 350px;
      width: 400px;
      height: 400px;
}
.wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      position: relative;
      width: 400px;
      height: 400px;
      border: 3px solid red;
}

button {
      margin-bottom: 10px;
      margin-top: 10px;
      width: 100px;
      height: 40px;
      background-color: yellow;
      border: none
}

.register-form {
      position: absolute;
      margin-left: 700px;
      top: 0;
      background-color: red;
      /* right: 900; */
}

.delete-button {
      margin-left: 200px;
}
.show {
      display: block;
}
.hide {
      display: none;
}

.long {
      height: 5000px;
}

