/* global styles  */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* layout */

.nav-container {
      display: flex;
      text-decoration: bold;
}

.nav {
      margin-left: 252px;
      margin-top: 60px;
}

.nav-list {
      display: flex;
      margin-right: 57px;
}

.nav-list li {
      margin-right: 30px;
      margin-top: 25px;
}

.marketing-section {
      margin-left: 323px;
      margin-top: 8px;
}

.company-section {
      text-align: center;
      margin-top: 376px;
}

.background-img {
      position: relative;
      top: 650px;
      z-index: -1;
}

.apps-feature-section {
      margin-top: 226px
}

.feature-container {
      width: 1650px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 250px;
}

.feature-list li {
      display: flex;
}

.feature-section-2 {
      margin-top: 116px;
      margin-left: 350px;
}

.feature-container-2 {
      display: flex;
}

.feature-list-2 {
      display: flex;
      margin-top: 116px;
}

.design-section {
      margin-top: 6px;
      margin-left: 330px;
}

.design-container {
      display: flex;
}

.design-block {
      margin-top: 16px;
      margin-left: 111px;
}

.why-app-list {
      display: flex;
      text-align: center;
}

.why-app-section {
      margin-top: 217px;
}

.why-app-list li {
      margin-top: 72px;
      width: 260px;
      margin-right: 116px;
}

.why-app-block {
      margin-left: 400px;
      margin-top: 0px;
}

.ultimate-features-section {
      margin-left: 340px;
      margin-top: 191px;
}

.ultimate-features-list {
      display: flex;
}

.ultimate-features-list li {
      margin-right: 150px;
      width: 260px;
}

.awesome-features-section {
      width: 1900px;
      text-align: center;
}

.payouts {
      display: flex;
      margin-left: 600px;
      margin-top: 39px;
}

.promaster-list {
      background-color: #f7f9fa;
      border: 1px solid #ebebeb;
      border-radius: 10px;
      width: 317px
}

.business-list {
      background-color: #f7f9fa;
      width: 317px;
      height: 500px;
      margin-right: 40px;
      box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.10);
}

.client-list {
      display: flex;
}

.client-wrapper {
      display: flex;
}

.clients-section {
      margin-top: 290px;
      margin-left: 100px;
}

.download-app-section {
      margin-left: 260px;
      display: flex;
      margin-top: 170px;
}

footer {
      background-color: #09142e;
      text-align: center;
}

.footer-list {
      display: flex;
      margin-top: 40px;
      margin-bottom: 50px;
      margin-left: 720px;
}

.footer-list li {
      margin-right: 30px;
}

/* typography */
.logo-tag {
      font-size: 30px;
      color: #fcae61;
      margin-top: 13px;
}

.lap-tag {
      color: #5a627c;
      margin-right: 385px;
}

.nav-links {
      font-size: 16px;
      color: #242f51
}

.marketing-tag {
      line-height: 70px;
      font-size: 60px;
      margin-top: -10px;
      margin-bottom: 27px;
      color: blue;
}

.marketing-text {
      background-color: #e2eaed;
      width: 330px;
      height: 36px;
      padding-left: 46px;
      padding-top: 5px;
      border-radius: 50px;
      font-size: 18px;
      margin-bottom: 30px;
}

.marketing-text {
      margin-top: -15px;
}

.feature-text {
      font-size: 16px;
      width: 260px;
      margin-top: 10px;
}

.fast-tag {
      color: #f55767;
      margin-top: 93px;
}

.prototyping-tag {
      color: #2563ff;
}

.vector-tag {
      color: #40975f;
}

.feature-text-1 {
      margin-top: 29px;
}

.feature-tag {
      margin-top: 64px;
}

.feature-tag-2 {
      font-size: 40px;
      margin-right: 156px;
}

.horizontal-line {
      width: 2px;
      height: 180px;
      background-color: #b9b9b8;
      margin-right: 48px;
      margin-top: -5px
}

.automatic-tag {
      color: #f55767;
      margin-top: 32px;
}

.network-tag {
      color: #2563ff;
      margin-top: 30px;
}

.rewards-tag {
      color: #40975f;
      margin-top: 30px;
}

.feature-text-1 {
      margin-right: 164px;
      margin-top: 15px;
      font-size: 16px;
}

.design-tag {
      margin-bottom: 32px;
      margin-bottom: 30px;
}

.design-text {
      margin-bottom: 43px;
}

.why-tag {
      width: 450px;
      text-align: center;
      margin-left: 700px;
}

.why-text {
      margin-top: 36px;
      width: 750px;
      text-align: center;
      margin-left: 550px;
}

.learn-app-tag {
      margin-top: 35px;
      margin-bottom: 10px;
}

.ultimate-features-tag {
      margin-bottom: 32px;
}

.ultimate-features-text {
      margin-bottom: 62px;
}

.ultimate-features-tag {
      margin-bottom: 10px;
      margin-top: 30px;
}

.awesome-tag {
      width: 600px;
      margin-left: 650px;
}

.awesome-text {
      margin-top: 20px;
      width: 650px;
      margin-left: 620px;
}

.monthly-pay {
      font-size: 60px;
      font-weight: 600;
}

.month {
      font-size: 18px;
      margin-left: -15px;
      color: #9ea1aa;
      font-weight: 500;
}

.class {
      font-size: 20px;
      font-weight: bold;
      font-family: 'Poppins', sans-serif;
}

.benefits-text {
      color: #9ea1aa;
}

.benefits-text-1+p {
      margin-top: 82px;
}

.benefits-text+p {
      margin-top: 20px;
}

.benefits-text-1 {
      color: #9ea1aa;
}

.trail-text {
      color: #320ff9;
      margin-top: 31px;
      padding-bottom: 25px;
}

.client-info {
      margin-top: 20px;
}

.proffession-text {
      color: #888a8d;
}

.name-text {
      color: #242f51;
}

.client-text {
      margin-top: 20px;
      margin-bottom: 30px;
}

.review-tag {
      margin-bottom: 18px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600 italic;
      color: #242f51;
}

.client-review-text {
      margin-bottom: 28px;
}

.download-text {
      margin-top: 21px;
      margin-bottom: 40px;
}

.download-tag {
      font-size: 48px;
}

.logos-tag {
      padding-top: 116px;
      color: #fcae61;
}

.lap-span {
      color: #fff;
}

/* buttons */

.btn {
      border: 1px solid #2500f9;
      border-radius: 25px;
      width: 150px;
      height: 50px;
      background-color: #2500f9;
      font-size: 16x;
      color: white;
      margin-top: 25px;
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
}

.button-nav {
      margin-top: 10px;
}

.vidio-button {
      background-color: transparent;
      color: #2500f9;
      border: none;
      margin-left: 27px;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      font-size: 16x;
}

.button-see {
      margin-top: 54px;
}

.button-time {
      margin-top: 60px;
}

/* images */

.app-background {
      position: absolute;
      top: 117px;
      left: 80px;
      z-index: -1;
}

.company-logos {
      margin-top: 45px;
}

.speed-img {
      margin-top: 85px;
      margin-right: 33px;
}

.prototype-img {
      margin-top: 80px;
      margin-right: 33px;
}

.pencil-img {
      margin-top: 80px;
      margin-right: 33px;
}

.marketing-text:before {
      content: url(/img/check-mark.png);
      position: absolute;
      top: 410px;
      left: 320px;
}

.cicles {
      position: absolute;
      top: 1650px;
      left: 160px;
      z-index: -1;
}

.svg-img {
      margin-bottom: -15px;
}

.support-img-1,
.cloud-img-1 {
      margin-top: 62px;
}

.backgroun-img-3 {
      position: absolute;
      top: 4920px;
      left: 1100px;
}

.face-img {
      margin-right: -190px;
}

.stars-img {
      margin-bottom: 15px;
}

.google-img {
      margin-right: 30px;
}

.download-img {
      margin-top: -80px;
      margin-left: -80px;
}

.logos-img {
      margin-bottom: 50px;
}

/* UTILITIES */

li {
      list-style: none;
}

a {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: #fff;
}

p {
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #242f51;
}

h3,
h2 {
      font-family: 'Poppins', sans-serif;
      font-weight: 600 italic;
      color: #242f51;
}

h2 {
      font-size: 36px;
      line-height: 50px;
}
.town-img {
      width: 1900px;
}