* {
      box-sizing: border-box;
      padding: 0;
}

input[type="text"] {
      width: 150px;
      height: 20px;
}

button {
      height: 35px;
      background-color: blue;
      width: 100px;
      margin-left: 20px;
      margin-top: 10px;
}

.god-class {
      height: 100px;
      width: 200px;
      font-size: 20px;
}